# App

Flask ~= 0.12
Flask-RESTful ~= 0.3.5
Flask-cors ~= 3.0.2
gunicorn ~= 19.6.0
neo4j-driver ~= 1.1.2
elasticsearch-dsl ~= 5.1.0

# Docs

Sphinx ~= 1.5.3
sphinx-argparse ~= 0.1.17
sphinx-rtd-theme ~= 0.1.9
sphinxcontrib-httpdomain ~= 1.5.0

# Test

nose2 ~= 0.6.5
codeclimate-test-reporter ~= 0.2.1
cov-core ~= 1.15.0

# Heroky deploy specific

certifi >= 2017.1.23
